body {
  margin: 0;
  line-height: 1.5;
  letter-spacing: 0.15px;
  font-family: "Helvetica", "sans-serif";
}
h2 {
  color: red;
}
.google {
  color: red;
}Z
table h2 {
  color: yellow;
}
.header {
  background: grey;
  padding: 21px;
  height: auto;
  color: white;
  text-align: center;
}
.header-title {
  margin-top: 0;
}
.header-nav {
    margin: 21px 0;
    display: inline;
}
.header-nav a {
    padding: 0 10px;
    color: inherit;
    text-decoration: none;
}
.header-nav a:hover {
    text-decoration: underline;
    color:blue;
}
.header img {
  width: 100%;
  height: auto;
}
.main {
  background-color: lightgrey;
  padding: 21px;
}
.main p {
    text-align: justify;
}
.footer {
  background: grey;
}
